{% extends "layout.html" %}
{% block body %}

<div id="flotcontainer" style="width:600px;height:300px"></div>


<style type="text/css">
#flotcontainer {
    width: 600px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
</style>

<script type="text/javascript">
     
    // function (data) {    
    //  var data = {{ data }};
    //     $.plot($("#flotcontainer"),
    //         [
    //             {data: data}
    //         ],
    //         {

    //             grid: {
    //                 backgroundColor: { colors: ["#75A7E0", "#1F77DB"]  }
    //             },
    //             xaxis: {
    //                 mode: "time",
    //                 timeformat: "%H:%M",
    //                 timezone: null
    //             }
    //         }
    //     );    
    // }

    $(function worker() {
        $.ajax({
            url: 'ajax/data', 
            success: function (data) {
                console.log(data)

                //var data = {{ data }};
                $.plot($("#flotcontainer"), [{data: data.series}], {

                            series: {
                                lines:{
                                   fill: true
                                }
                                
                            },
                            grid: {
                                //backgroundColor: { colors: ["#75A7E0", "#1F77DB"]  }
                                backgroundColor: "#EFF2FB",
                                borderWidth: 2,
                            },
                            xaxis: {
                                mode: "time",
                                timeformat: "%H:%M",
                                timezone: null,
                                //min: (new Date("2010/11/01")).getTime(),
                                //max: (new Date("2011/02/01")).getTime()
                            }
                        }
                    );   
                },
            complete: function() {
                // Schedule the next request when the current one's complete
                setTimeout(worker, 30000);
                }
        });
    });

</script>

{% endblock %}


