{% extends "layout.html" %}

{% block body %}
  <div class="panic-button-wrapper container">
      <button class="panic-button btn-primary btn-lg btn-danger">Panic!</button>
  </div>

  <div class="panic-plot"></div>

  <div id="timestamps"></div>
{% endblock %}

{% block javascripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
  <script src="{{ url_for('static', filename='js/panic.js') }}"></script>
  <script>
      $(PanicButton.init); 
  </script>
{% endblock %}

