{% extends "layout.html" %}

{% block body %}
  <div class="panic-button-wrapper container">
      <button class="panic-button btn-primary btn-lg btn-danger" onclick="onButtonPress()">Panic!</button>
  </div>

  <div class="panic-plot"></div>

  <div id="timestamps"></div>
{% endblock %}

{% block javascripts %}
  <script>
    function onButtonPress() {
      $.post("press", function( data ) {
        //$("#timestamps").html(data["timestamp"].toString());
        $("#timestamps").html(data["timestamp"].toString()+data["user_id"].toString());
      });
    }

    $(function () {
        var plot = $.plot(".panic-plot", [{data: []}], {
            series: {
                lines: {fill: true}                    
            },
            
            grid: {
                //backgroundColor: { colors: ["#75A7E0", "#1F77DB"]  }
                backgroundColor: "#EFF2FB",
                borderWidth: 2,
            },
            
            xaxis: {
                mode: "time",
                timeformat: "%H:%M",
                timezone: "browser"
            }
        });

        function update() {

            $.ajax({
                url: 'ajax/data',
                success: function(data) {
                    console.log("got data");
                    console.log(data);
                    plot.setData([data.series]);
                },
                complete: function() {
                    console.log("draw plot");
                    plot.setupGrid()
                    plot.draw();
                    setTimeout(update, 300); // Update every minute (every 60000 ms)
                }           
            });

        }
        update();

    });
  </script>
{% endblock %}

